<mat-grid-list cols="4" rowHeight="200px" class="dashboard-cards" gutterSize="30px">
  <mat-grid-tile class="tile-component"
      [colspan]=2
      [rowspan]=1>
        <mat-card class="welcome-card dashboard">
          <mat-card-header>
            <mat-card-title>Buna TestName,</mat-card-title>
            <mat-card-subtitle class="dashboard-subtitle">Nu stiu ce-o sa pun aici hahahaa</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="welcome-card-content dashboard">
            Sau aici :)))
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile-component"
      [colspan]=2
      [rowspan]=2>
      <mat-card class="calendar-card dashboard">
        <mat-toolbar class="rounded-toolbar color-peach">
          <mat-toolbar-row>
            <mat-toolbar-row>
              <span>Programari - {{ todayDate }}</span>
              <span class="toolbar-spacer"></span>
              <button mat-button><mat-icon class="add-icon" aria-hidden="false" aria-label="Add entry">add</mat-icon></button>
            </mat-toolbar-row>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-card-content class="dashboard tile-component">
          <div class="calendar-container">
            <mwl-calendar-day-view
            [viewDate]="viewDate"
            [events]="events"
            [hourSegments]="hourSegments"
            [dayStartHour]="startHour"
            [dayEndHour]="endHour"
            [locale]="locale"
          ></mwl-calendar-day-view>
          </div>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile-component"
      [colspan]=1
      [rowspan]=1>
      <mat-card class="color-bbyblue dashboard">
        <mat-card-content class="dashboard">
          <mat-card-header>
            <mat-card-title>Pacienti sex masculin</mat-card-title>
          </mat-card-header>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="dashboard-icon" fontIcon="face" color="primary"></mat-icon>
          <p class="card-text">32</p>
        </mat-card-content>
      </mat-card>      
  </mat-grid-tile>
  <mat-grid-tile class="tile-component"
      [colspan]=1
      [rowspan]=1>
      <mat-card class="color-peach dashboard">
        <mat-card-content class="dashboard">
          <mat-card-header>
            <mat-card-title>Pacienti sex feminin</mat-card-title>
          </mat-card-header>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="dashboard-icon" fontIcon="face_3" color="primary"></mat-icon>
          <p class="card-text">12</p>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>