// styles.scss
@import 'app/app.component';
@import 'app/left-menu/left-menu.component';
@import 'app/top-bar/top-bar.component';
@import 'app/page-dashboard/page-dashboard.component';
@import 'app/bottom-bar/bottom-bar.component';

body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  }
  