// styles.scss
@import 'app/app.component';
@import 'app/left-menu/left-menu.component';
@import 'app/top-bar/top-bar.component';
@import 'app/page-dashboard/page-dashboard.component';
@import 'app/bottom-bar/bottom-bar.component';
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.mat-mdc-card {
    box-shadow: 1px 0 20px #00000014;
}
mat-grid-tile.mat-grid-tile {
    overflow: visible;
}